html *{
    box-sizing: border-box;
}
header{
    display:flex;
}
.handwritten{
    font-family: 'Mrs Saint Delafield', cursive;
}
ul li{
    display: inline;
    padding: 5px;
}
img{
    width: 100%;
}